<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642497368168-a39ddhb66vdkhgi0fpia2n2ekv6dotvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642497368168-a39ddhb66vdkhgi0fpia2n2ekv6dotvv</string>
	<key>API_KEY</key>
	<string>AIzaSyB4v4oHhQ7Su0ScerG6qk_M6TywNCKXD4A</string>
	<key>GCM_SENDER_ID</key>
	<string>642497368168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.longnguyen.ChatWithStranger</string>
	<key>PROJECT_ID</key>
	<string>chat-with-stranger-2b9e7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-with-stranger-2b9e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642497368168:ios:cfac777946e6215dce2bdd</string>
</dict>
</plist>